<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="primary">
      <ion-button left routerLink="/" routerDirection="root" fill="clear" slot="primary">
        Logout<ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="body">

  <ion-card class="card">
    <ion-card-content >
      <ion-grid>
        <ion-row>
          <ion-col>

              <ion-item class="item">
                <ion-label position="stacked">User <ion-icon name="contact"></ion-icon></ion-label>
                <ion-text>{{database.current.user.name}}</ion-text>
              </ion-item>
              <ion-item class="item">
                <ion-label position="stacked">Licence Type <ion-icon name="car"></ion-icon></ion-label>
                <ion-text>{{database.current.user.licence_type}}</ion-text>
              </ion-item>
              <ion-item class="item">
                <ion-label position="stacked">Licence Number <ion-icon name="create"></ion-icon></ion-label>
                <ion-text>{{database.current.user.licence_num}}</ion-text>  
              </ion-item>
 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-card>
<ion-label text-center><h1>Certifications</h1></ion-label>
<ion-grid>
    <ion-row>
        <ion-col offset-4 text-center>
            <ion-label color="success"><img src="assets/OUV.png"> OUV </ion-label>
        </ion-col>
        <ion-col text-center>
            <ion-label color="success"><img src="assets/5TON.png"> 5TON </ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            <ion-label *ngIf="database.current.user.mss_certified == true" color="success"> MSS </ion-label>
        </ion-col>
        <ion-col offset-4 text-center>
            <ion-label *ngIf="database.current.user.flb_certified == true" color="success"> FLB </ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            <ion-label *ngIf="database.current.user.belrex_certified == true" color="success"> BELREX </ion-label>
        </ion-col>
        <ion-col offset-4 text-center>
            <ion-label>  </ion-label>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-card>