.div{
    text-align: center;
    border: 6px solid black;
}
.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.full-width-select {
  width: 100%;
  max-width: 100%;
}
.custom-font-size {
    font-size: 0.8em;
}
