<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="commander" *ngIf="this.database.current.user.is_commander">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="summary" *ngIf="!this.database.current.user.is_commander">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="CmdHistory" *ngIf="this.database.current.user.is_commander">
      <ion-icon name="car"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" *ngIf="!this.database.current.user.is_commander">
      <ion-icon name="car"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label >Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button size="medium" color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="end">
    <ion-fab-button vertical="top" horizontal="start" class="custom-fab" color="primary" *ngIf="this.database.current.drive_in_progress==null && this.database.current.mtrac_in_progress==null && this.getDrive().length==0;" routerLink = "/boc">Drive</ion-fab-button>
    <ng-container
            *ngIf="this.getDrive().length!=0 && this.getIncompleteMTRAC().length==0; then editdrive;">
    </ng-container>
    <ng-template #editdrive>
      <ion-fab-button vertical="top" horizontal="start" class="custom-fab" color="primary"  *ngFor="let drive of getDrive()" (click)="clickdrive(drive)">Drive</ion-fab-button>
    </ng-template>
    <ng-container
            *ngIf="this.getIncompleteMTRAC().length!=0 && this.getDrive().length==0; then editmtrac;">
    </ng-container>
    <ng-template #editmtrac>
      <ion-fab-button vertical="top" horizontal="start" class="custom-fab" color="primary"  *ngFor="let form of getIncompleteMTRAC()" (click)="clickmtrac(form)">Drive</ion-fab-button>
    </ng-template>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button vertical="top" horizontal="start" class="custom-fab" color="primary" routerLink = "/add-fuel">Fuel</ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="top">
    <ion-fab-button vertical="top" horizontal="start" class="custom-fab" color="primary" *ngIf="this.database.current.drive_in_progress==null && this.database.current.mtrac_in_progress==null && this.getDrive().length==0;" routerLink = "/jitboc">
      JIT
    </ion-fab-button>
  </ion-fab-list>

</ion-fab>
