<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="primary">
      <ion-button left routerLink="/" routerDirection="root" fill="clear" slot="primary">
        Logout<ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-card>
  <ion-card-content>

    <span style="font-style:italic;font-weight:bold;font-size:8vmin;margin-left: 35px">Engineer's</span>
    <span style="font-size:8vmin">Logbook</span>
  
    <img src="assets/app_icon_copy2.png">
     
    <div style="margin-left: 80px"><strong>Original Concept & Design</strong>:
      <p style="margin-left: 50px">Brandon Tan<br/>Bryan Fang<br/>Yash Dixit<br/>Zepu Liu</p><br/>
    </div>

    <div style="margin-left: 100px"><strong>System Development</strong>:
      <p style="margin-left: 30px">Bryan Fang<br/>Yash Dixit</p><br/>
    </div>

    <div><strong>           Contact             </strong>:
      <p><a href="mailto:engineerslogbook@gmail.com">engineerslogbook@gmail.com</a></p>
    </div>

<!--    <div><strong>Current Platform</strong>:
      <p style="margin-left: 80px">{{platform.platforms()}}</p>
    </div>-->
  </ion-card-content>
</ion-card>

</ion-content>
