<ion-content>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ71jPdOF6e02nQmca2WrbJw_QeXZBh5Q"></script>
    <div #map id="map" style="height: 100%;width: 100%;overflow: auto;background-color: transparent;"></div>
        <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button size="small" color="danger" (click)="click()">
            <ion-icon name="alert"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>