<ion-header translucent>
  <ion-toolbar>
    <h1 style="margin-left: 10px;">BEFORE OPERATIONS CHECK (BOC) CHECKLIST</h1>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h6 style="margin-left: 10px;"> NOTE: Any defects including the items in the Check List found are to be reported to Transport Leader/3SG and above immediately and recorded in the ODD book</h6>
  <ion-list>
    <ion-item *ngFor="let list of checklist">
      <ion-label>{{list.listID}}. {{list.name}}
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="list.isChecked" (click)="onChange(list)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label class="ion-text-wrap">I acknowledge that I have read through, understood, and checked through the Before Operations Check (BOC) Checklist and have not found any defects.</ion-label>
    <ion-checkbox slot="start" name="boc" [disabled]="selectedArray.length <= 15" (ionChange)="setcheckboxstatus()"></ion-checkbox>
  </ion-item>
  <div class="btn-wrapper">
    <div *ngIf=getcheckboxstatus()>
      <ion-button (click)=onCancel()>Cancel</ion-button>
      <ion-button routerLink="/jitmtrac" >Continue</ion-button>
    </div>
    <div *ngIf = !getcheckboxstatus()>
      <ion-button expand="block" (click)=onCancel()>Cancel</ion-button>
    </div>
  </div>
</ion-content>