<ion-header translucent>
  <ion-toolbar>
    <div>
      <h1 style="margin-left: 10px;"><strong>MT RISK ASSESSMENT CHECKLIST (MT-RAC)</strong></h1>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>  
    <h6 style="margin-left: 10px;"><strong><u>ABOUT THE MT RAC FORM</u></strong><br></h6>
    <h6 style="margin-left: 10px;">It enables the drivers / riders to assess the risk level involved in their driving / riding detail. It allows the drivers / riders to make an informed decision as to whether to carry on with the detail.</h6>
  </div>
  <ion-item lines="none" no-padding>
    <ion-grid style="margin-left: 5px;">
      <ion-row class="cell-class">
        <ion-col size="2">
          <div>
            <h6 style="text-align:center"><strong>FACTORS</strong></h6>
          </div>
        </ion-col> 
        <ion-col class="cell-class" style="margin-left : -1px">
          <div>
            <h6 style="text-align:center"><strong>MEANING</strong></h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-items-center class="cell-class">
        <ion-col size="2">
          <div>
            <h6 style="text-align:center">MAN</h6>
          </div>
        </ion-col>
        <ion-col class="cell-class" style="margin-left : -1px">
          <div>
            <h6 style="text-align:left">This refers to the driver / rider and in particular his driving / riding experience and accident record.<br>How well he has rested before the detail is also important.</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-items-center class="cell-class">
        <ion-col size="2">
          <div>
            <h6 style="text-align:center">MACHINE</h6>
          </div>
        </ion-col>
        <ion-col class="cell-class" style="margin-left : -1px">
          <div>
            <h6 style="text-align:left">This refers to the condition of the vehicle / motorcycle, which they are handling on the road.<br>A faulty vehicle / motorcycle will heighten the risk level.</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-items-center class="cell-class">
        <ion-col size="2">
          <div>
            <h6 style="text-align:center">MISSION</h6>
          </div>
        </ion-col>
        <ion-col class="cell-class" style="margin-left : -1px">
          <div>
            <h6 style="text-align:left">This type of transport detail will have an effect on the risk level.<br>An administrative detail will have less risk than a training detail, which requires them to drive / ride in difficult cross-country terrain.</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-items-center class="cell-class">
        <ion-col size="2">
          <div>
            <h6 style="text-align:center">MEDIUM</h6>
          </div>
        </ion-col>
        <ion-col class="cell-class" style="margin-left : -1px">
          <div>
            <h6 style="text-align:left">This refers mainly to the road conditions under which the driver / rider operates.<br>Their prevailing conditions will have a direct effect on the driver / rider.</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-items-center class="cell-class">
        <ion-col size="2">
          <div>
            <h6 style="text-align:center">MANAGEMENT</h6>
          </div>
        </ion-col>
        <ion-col class="cell-class" style="margin-left : -1px">
          <div>
            <h6 style="text-align:left">Close supervision of the driver / rider will contribute to risk minimisation.<br>Assignment of Vehicle Commander of a high rank will have a psychological effect on the driver to do better.</h6>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item lines="none" no-padding>
    <ion-grid style="margin-left: 5px;">
      <ion-row>
        <ion-col class="cell-class">
          <div>
            <h6 style="text-align:center"><strong>RISK LEVEL</strong></h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-items-center class="cell-class">
        <ion-col>
          <div>
            <h6 style="text-align:center"><strong>LOW RISK</strong></h6>
          </div>
        </ion-col>
        <ion-col class="cell-class" style="margin-left : -1px;">
          <div>
            <h6 style="text-align:center"><strong>MEDIUM RISK</strong></h6>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <h6 style="text-align:center"><strong>HIGH RISK</strong></h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-items-center class="cell-class">
        <ion-col>
          <div>
            <h6 style="text-align:center">Normal operational risk.</h6>
          </div>
        </ion-col>
        <ion-col class="cell-class" style="margin-left : -1px;">
          <div>
            <h6 style="text-align:center">Above normal operational risk level.<br>Increase supervision, briefing and exercise caution, Mission may be suspended till conditions are better.</h6>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <h6 style="text-align:center">Do not proceed with mission unless approved by higher authorities.<br><strong>All high risk factors must be mitigated.</strong></h6>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item lines="none" no-padding>
    <ion-grid style="margin-left: 5px;">
      <ion-row>
        <ion-col class="cell-class">
          <div>
            <h6 style="text-align:center"><strong><u>Vehicle Commander Standing Order</u></strong></h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cell-class">
          <div>
            <h6 style="text-align:left">1. To be responsible for the discipline and safety of all passengers/crew in the assigned transport detail.</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cell-class">
          <div>
            <h6 style="text-align:left">2. To assist to look out for obstruction, hazard or danger. If the driver is reversing, there is no requirement for the vehiucle commander to guide the driver. However, VC should render assistance to the driver when requested.</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cell-class">
          <div>
            <h6 style="text-align:left">3. Go through intended route with the driver.</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cell-class">
          <div>
            <h6 style="text-align:left">4. If unsure of route or lost, to instruct the driver to stop the vehicle at a safe place to re-orientate or seek further instructions.</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cell-class">
          <div>
            <h6 style="text-align:left">5. If involved in an accident, to inform unit about the accident and assit the driver to manage the accident.</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cell-class">
          <div>
            <h6 style="text-align:left">6. To check and endorse the MT-RAC.</h6>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <div>
    <h6 style="margin-left: 10px;"><strong><u>Briefing and ensuring notes for TO/ DV/ LOA Drivers</u></strong><br></h6>

    <h6 style="margin-left: 10px;"><ol type="a">
      <li>Check and <strong>ensure seating capacity</strong>, if exceeds (Please do not proceed on with the detail)</li>
      <li>Brief troops to engage <strong>seat belt</strong> throughout the journey</li>
      <li>Assist the troops in engaging the <strong>safety straps</strong>. Safety straps are to be engaged throughout the journey.</li>
      <li>Brief "<strong>no smoking / sleeping</strong> on vehicle" throughout the journey</li>
      <li><strong>No moving</strong> while the vehicle is on the move</li>
      <li><strong>No sitting on the tailboard</strong> at all times</li>
    </ol></h6>

    <h6 style="margin-left: 10px;"><strong>* For any matters please seek vehicle commander's assistance</strong><br></h6>
  </div>

  <div class="btn-wrapper">
    <ion-button (click)='onCancel()'>Back</ion-button>
  </div>

</ion-content>